<div class="card-list-container py-5">
  <% if stores.present? %>
    <% stores.each_slice(3) do |stores_slice| %>
      <div class="row">
        <% stores_slice.each do |store| %>
          <div class="col-md-4">
            <div class="card mt-4 shadow-lg">
              <%= link_to store_path(store.id) do %>
                <%= image_tag store.get_food_image(350, 350), class: "card-img-top" %>
              <% end %>
               <p class="card-title">
                <%= link_to(store_path(store.id), class: "text-dark") do %>
                  <h5 class="text-center"><b><i class="far fa-flag"></i><span> <%= store.name %></span></b></h5>
                <% end %>
              </p>
              <div class="card-body">
                <div class="row">
                  <div class="col-3">
                    <%= image_tag store.user.get_profile_image(100, 100), class: "rounded-circle" %>
                    <div class="small">
                      <%= render "public/favorites/btn", store: store %>
                    </div>
                  </div>
                  <div class="col-9 text-center small">
                    <p class="card-text"><%= store.hashbody %></p>
                    <p><%= store.created_at.strftime("%Y/%m/%d") %></p><br>
                    <span><i class="fas fa-user"></i> <%= store.user.name %></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= paginate stores %>
  <% else %>
    <h2 class="text-center my-3">投稿がありません</h2>
  <% end %>
</div>