<div class="card-list-container py-5">
  <% stores.each_slice(3) do |stores_slice| %>
    <div class="row">
      <% stores_slice.each do |store| %>
        <div class="col-md-4">
          <div class="card mt-4 shadow-lg">
            <%= link_to store_path(store.id) do %>
              <%= image_tag store.get_store_image(200, 200), class: "card-img-top" %>
            <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col-2">
                  <%= image_tag store.user.get_profile_image(100, 100), class: "mt-3 rounded-circle" %>
                </div>
                <div class="col-10 text-center">
                  <p class="card-title">
                    <%= link_to(store_path(store.id), class: "text-dark") do %>
                      <h5><strong><i class="far fa-flag"></i><span> <%= store.name %></span></strong></h5>
                    <% end %>
                  </p>
                  <!--タグに変更する-->
                  <p class="card-text">紹介：<%= store.description %></p>
                  <p><%= store.created_at.strftime("%Y/%m/%d") %></p><br>
                  <span><i class="fas fa-user"></i> <%= store.user.name %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>