<div class = "container">
  <div class = "row">
    <div class = "col-8 mx-auto">
      <h1>編集</h1>
        <%= render "layouts/errors", obj: @store %>
        <%= form_with model: @store do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :food_image %>
          <%= f.file_field :food_image, class: "form-control-file",accept: "image/*" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control"%>
        </div>
        <div class="form-group">
          <%= f.label :hashbody,  "ハッシュタグ"%>
          <%= f.text_area :hashbody, class: "form-control-file", placeholder: "#Text" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-tenge-sign"></i></span>
          </div>
          <%= text_field_tag :zipcode, nil, class: "form-control", placeholder: "郵便番号" %>
        </div>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
          </div>
          <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update Store", class: "btn btn-secondary" %>
        </div>
        <% end %>
    </div>
  </div>
</div>