<div class="container my-3">
  <div class = "row">
    <div class="col-9">
      <div id="map"></div>
    </div>
    <div class="col-3 scroll-area">
      <div class="my-2">
        <%= form_with url: search_map_path, method: :get, class: "d-flex" do |f| %>
          <%= f.text_field :keyword, value: @keyword %>
          <%= button_tag type: "submit", class: "btn btn-secondary" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </div>
      <h3 class="title-box">お店一覧</h3>
      <%= render "public/stores/side_index", stores: @stores %>
    </div>
  </div>
</div>

<script>
let map;
let marker = [];
let infoWindow = [];

function initMap(){

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.170915, lng: 136.881537},
    zoom: 12,
  });

<% @stores.each_with_index do |store, index| %>

  marker[<%= index %>] = new google.maps.Marker({
    position:  {lat: <%= store.latitude %>, lng: <%= store.longitude %>},
    map: map
  });

  infoWindow[<%= index %>] = new google.maps.InfoWindow({
    content: `
      <div class="information container p-0">
        <div class="mb-3 d-flex align-items-center">
          <p class="lead m-0 font-weight-bold"><%= store.name %></p>
        </div>
        <div class="mb-3 text-center">
        <%= link_to store_path(store) do %>
          <%= image_tag store.get_food_image(100,100), class: "thumbnail", loading: "lazy" %>
        <% end %>
        </div>
        <div>
          <p class="font-weight-bold"><i class="fa-solid fa-circle-user"></i> <%= store.user.name %></p>
        </div>
      </div>
    `,
  });

  markerEvent(<%= index %>);
<% end %>

}

// マーカーにクリックイベントを追加
function markerEvent(index) {
    marker[index].addListener('click', function() { // マーカーをクリックしたとき
      infoWindow[index].open(map, marker[index]); // 吹き出しの表示
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&callback=initMap" async defer></script>