<div class= "container mt-5">
  <div class= "row">
    <div class= "col-md-3">
      <h2><b>ユーザー情報</b></h2>
      <table class="table">
        <tr>
          <td><%= image_tag @user.get_profile_image(100,100) %></td>
        </tr>
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr>
          <th>follows</th>
          <th>
            <%= link_to user_followings_path(@user) do %>
              <%= @user.followings.count %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>followers</th>
          <th>
            <%= link_to user_followers_path(@user) do %>
              <%= @user.followers.count %>
            <% end %>
          </th>
        </tr>
      </table>
      <%= link_to edit_admin_user_path(@user.id), class: "btn btn-block btn-outline-secondary" do %>
        <i class="fa-solid fa-user-gear"></i>
      <% end %>
    </div>
    <div class= "col-md-8 offset-md-1">
      <h2><b>投稿</b></h2>
      <% if @stores.present? %>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>店名</th>
              <th>紹介</th>
              <th>タグ</th>
             </tr>
          </thead>
          <tbody>
            <% @stores.each do |store| %>
            <tr>
              <td>
                <%= link_to store_path(store.id) do %>
                  <%= image_tag store.get_food_image(80, 80), class: "card-img-top" %>
                <% end %>
              </td>
              <td>
                <%= link_to admin_store_path(store) do %>
                  <%= store.name %>
                <% end %>
              </td>
              <td><%= store.description %></td>
              <td><%= store.hashbody %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @stores %>
      <% else %>
        <p class="text-center m-3">投稿はありません</p>
      <% end %>
    </div>
  </div>
</div>