<!DOCTYPE html>
<html>
  <head>
    <title>NagoyaChelin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/ac7cef6f2b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="wrapper">
      <% if request.fullpath.include? "/admin" %>
        <%= render "layouts/admin_header" %>
      <% else %>
        <%= render "layouts/public_header" %>
      <% end %>
      <main>
        <div>
          <% flash.each do |message_type, message| %>
            <div class="flash-message <%= message_type %>"><%= message %></div>
          <% end %>
        </div>
        <%= yield %>
      </main>
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
